---
---

// room for header
html {
	position: fixed;
	overflow: auto;
	top: 91px;
	left: 0;
	right: 0;
	bottom: 0;
}
body {
	height: 100%; // also needed for sticky footer
	overflow: auto;
}

// center text on grey background
html {
	background-color: #e7e7e7;
}
body {
	max-width: 74.92em;
	margin: 0 auto;
	padding: .5em 1em 1em 1em;
	border: .1em solid #c0c0c0;
}

// font size
html, body {
	font-size: 1em;
}

// headings
h1 {
	font-size: 2em;
	margin: 1em 0;
}
h2 {
	font-size: 1.50em;
	margin: 1.0em 0 0.87em 0;
}
h3 {
	font-size: 1.30em;
	margin: 1.0em 0 0.87em 0;
}
h4 {
	font-size: 1.13em;
	margin: 1.0em 0 0.88em 0;
}
h5 {
	font-size: 1.00em;
	margin: 1.0em 0 1.00em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

// paragraph spacing
p {
	margin: 1em 0;
	blockquote &:first-child {
		margin-top: 0;
	}
}

// list item spacing
ul li {
	margin: .5em 1em;
	p,
	& ul {
		margin-top: .3em;
		margin-bottom: .3em;
	}
}

// list item bullets
ul {
	list-style: square outside;
	li & {
		list-style: circle;
	}
}

// visited links are not given a different color by bootstrap
a[href] {
	color: #005090;
	&:visited {
		color: #100070;
	}
}

// bootstrap removes underlining from links
a[href] {
	text-decoration: underline;
	// remove underlining only when hovering them
	&:active, &:hover {
		text-decoration: none;
	}
}

code {
	font-size: 85%;
	// change the color for code to a different shade of red
	// and remove the background
	color: #bb2200;
	background-color: initial;
}


/* Footer
-------------------------------------------------- */

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	// negative indent footer by its height
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
	> .container {
		padding: 10px 15px 0;
	}
}
#footer {
	height: 60px;
	background-color: #f5f5f5;
	> .container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

// Copyright © Liblouis 2010 - 2025
#footer .credit {
	margin: 20px 0;
}


/* Navigation bar
-------------------------------------------------- */

.navbar {
	z-index: 99;
	&.navbar-default {
		.navbar-brand,
		.navbar-brand:hover,
		.navbar-brand:focus {
			color: transparent;
			size: 1px;
			width: 50px;
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 51px 50px;
			outline-color: #777;
		}
	}
	.nav > li > span {
		display: block;
		color: #777;
		padding: 10px 15px;
		&:hover,
		&:focus {
			color: #333;
		}
	}
}

@media(min-width:768px) {
	.navbar {
		font-size: 105%;
		&.navbar-default {
			.navbar-brand,
			.navbar-brand:hover,
			.navbar-brand:focus {
				background-size: 93px 90px;
				height: 91px;
				width: 90px;
			}
		}
		> .container > .navbar-collapse.collapse {
			position: relative;
			padding-top: 10px;
			margin-left: 90px;
		}
		.nav {
			margin-right: 120px;
			> li {
				position: static;
				> a {
					padding: 7px 15px;
				}
			}
		}
		#support-button {
			text-transform: uppercase;
			margin: 2px 15px;
			padding: 4px 8px;
			border: 1px solid #ccc;
			&:hover,
			&:focus {
				background-color: #333;
				color: white;
				border-color: #333;
			}
		}
		#link-to-github {
			position: absolute;
			color: transparent;
			font-size: 1px;
			width: 35px;
			height: 35px;
			outline-color: #777;
			top: 10px;
			right: -11px;
			width: 35px;
			border-radius: 16px;
			height: 35px;
			background:
				linear-gradient(rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 0.5)),
					url({{site.baseurl}}/images/github.png);
			background-repeat: no-repeat;
			background-size: 35px 35px;
			background-position: top 0 right 0;
			&:hover,
			&:focus {
				background-image: url({{site.baseurl}}/images/github.png);
			}
		}
	}
}


/* Manual pages
-------------------------------------------------- */

// table of contents
.contents ul {
	list-style: none;
	font-weight: bold;
	ul {
		font-weight: normal;
	}
}

// code blocks:
// in order to properly override the bootstrap style, we put the style on pre instead of div
div.example > pre {
	margin: 1em 0 1em 3%;
	padding: 1.8em 1.4em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	border: 1px solid #d4cbb6;
	background-color: #f2efe4;
}

// indendation and spacing of definition lists (opcode definitions, etc.)
dd {
	margin: .5em 3% 1em 3%;
	p {
		margin: .5em 0;
	}
}


/* Donate page
-------------------------------------------------- */

// PayPal button
@font-face {
	font-display:swap;
	font-family:PayPalOpen-Bold;
	font-style:normal;
	src:url(https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Bold.woff2) format("woff2"),
		url(https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Bold.woff) format("woff")
}
.paypal-button {
	position: relative;
	border-radius: 1000px;
	cursor: pointer;
	display: inline-block;
	min-width: 6rem;
	text-align: center;
	text-decoration: none;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	border: 0.125rem solid rgb(255, 209, 64);
	font-family: PayPalOpen-Bold, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 400;
	padding: 0.625rem 1.875rem;
	background: rgb(255, 209, 64);
	color: rgb(0, 48, 135);
}
