---
---

body {
	padding-top: 50px;
}

.jumbotron {
	padding-top: 5px;
}

@media(min-width:768px) {
	.jumbotron {
		padding-bottom: 0;
		background: rgb(247, 247, 247);
		> .container {
			background: url({{site.baseurl}}/images/louis.png);
			background-repeat: no-repeat;
			background-size: 723px 700px;
			background-position: top -135px right -210px;
			padding-right: 0;
			&::after {
				display: none;
			}
			> div {
				background: linear-gradient(180deg, rgba(247, 247, 247, 0.60), rgba(247, 247, 247, 1));
			}
		}
		h1 {
			padding-top: 60px;
		}
		p {
			padding-bottom: 50px;
		}
	}
}