<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pico.min.css" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml" title="Atom feed">
    <title>{{ site.name }} - {{ site.description }}</title>
  </head>
  <body>
      <nav class="container">
	<ul>
	  <li><a href="{{ site.baseurl }}/"><strong>{{ site.name }}</strong></a></li>
	</ul>
	<ul>
          <li><a href="{{ site.baseurl }}/news">News</a></li>
          <li><a href="{{ site.baseurl }}/documentation">Documentation</a></li>
          <li><a href="{{ site.baseurl }}/translate">Try it online</a></li>
          <li><a href="{{ site.baseurl }}/downloads">Downloads</a></li>
          <li><a href="{{ site.baseurl }}/links">Links</a></li>
          <li><a href="{{ site.baseurl }}/sponsoring" id="sponsor-button">Sponsor</a></li>
          <li><a href="https://github.com/liblouis" id="link-to-github" title="Github development site">Contribute</a></li>
	</ul>
      </nav>
    <main class="container">
      {{ content }}
    </main>
    <footer class="container">
      <p>Copyright &copy; {{ site.name }} 2010 - {{ site.time | date: "%Y" }}</p>
    </footer>
  </body>
</html>
