<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Braille translation and back-translation library">

    <title>liblouis - A Braille translation and back-translation library</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Skip navigation as recommended in http://getbootstrap.com/getting-started/#accessibility -->
    <a href="#content" class="sr-only">Skip to content</a>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">liblouis</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/news">News</a></li>
              <li><a href="/documentation">Documentation</a></li>
              <li><a href="/downloads">Downloads</a></li>
              <li><a href="https://code.google.com/p/liblouis/issues/list">Issues</a></li>
              <li><a href="https://code.google.com/p/liblouis/source/checkout">Source</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
	</div>
      </div>
      
      <!-- Begin page content -->
      <div class="container">
	<div class="row">
          <div id="content" class="col-md-9">
	    <div class="page-header">
	      <h1>{{ page.title }}</h1>
	    </div>
	    {{ content }}
	  </div>

          <div class="col-md-3">
	    <h4>License</h4>
	    <p><a href="https://www.gnu.org/licenses/lgpl.html">GNU Lesser GPL</a></p>
	    <h4>Links</h4>
	    <p><a href="http://www.freelists.org/archive/liblouis-liblouisxml">Mailing List</a></p>
	    <p><a href="http://code.google.com/p/liblouisutdml">liblouisutdml</a></p>
	    <p><a href="http://code.google.com/p/liblouisxml/">liblouisxml</a></p>
	  </div>
	</div>
      </div>
    </div>
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">&copy; Liblouis 2013</p>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
